body {
    background-color: pink;
}

h1, h2, h3, p {
    font-family: Arial;
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 34px;
}

h2 {
    font-size: 21px;
}

img {
    margin: auto;
    display: block;
    width: 90%;
    border: 1px solid;
}

.COOKBOOK {
    margin: auto;
    border: 1px solid;
    width: 98%;
    background-color: lightcoral;
    flex-direction: column;
}

.retseptiveeb {
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

.esimene, .kolmas, .neljas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.teine {
    margin: auto;
    width: 85%;
}

.kolmas > p {
    text-align: justify;
}

.kolmas > img {
    display: flex;
    margin: 15px;
    margin-right: 0px;
    width: 40%;
    align-self: center;
}

.neljas > img {
    width: 24%;
    border-radius: 150px;
}

.Our_addresses {
    margin: auto;
    border: 1px solid;
    width: 98%;
    flex-direction: row;
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
}

.viies {
    margin-left: 35px;
    width: 80%;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.kuues {
    margin: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.kuues > img {
    margin: 5px;
    width: 50px;
    border: none;
}

hr {
    width: 40%;
    display: none;
    border: 1.5px solid #000;
}

.neljas > h2 {
    font-size: 23px;
    display: none;
}



@media screen and (max-width: 750px) {
    .kolmas > img {
        display: none;
    }
}


@media screen and (max-width: 500px) {
    body {
        background-color: white;
    }

    .COOKBOOK {
        background-color: azure;
    }

    hr {
        display: block;
    }

    .neljas {
        flex-direction: column;
    }

    .neljas > img {
        margin-bottom: 20px;
        width: 50%;
    }

    .neljas > h2 {
        display: block;
        margin-left: 32px;
    }

    .COOKBOOK > img {
        width: 99.8%;
    }

    .viies {
        font-size: 14px;
    }
}


/*animatsioonid*/
/*Ma ei tea. Kui ma üritan teha div-elementidega ümberkujundamist, kaovad need ära.*/
/*
.itaalia {
    width: 24%;
    border-radius: 150px;
    background-image: url("https://i.imgur.com/52ftHJg.png");
    background-size: cover;
    transition: all 1.5s ease-in-out 1s; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.itaalia:hover {
    background-image: url("https://i.imgur.com/8AQ2XxG.png");
}

.aasia {
    width: 24%;
    border-radius: 150px;
    background-image: url("https://i.imgur.com/smOSTSG.png");
    background-size: cover;
    transition: all 1.5s ease-in-out 1s; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aasia:hover {
    background-image: url("https://i.imgur.com/l4Wz1LO.png");
}

.eesti {
    width: 24%;
    border-radius: 150px;
    background-image: url("https://i.imgur.com/If3x1Wk.png");
    background-size: cover;
    transition: all 1.5s ease-in-out 1s; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eesti:hover {
    background-image: url("https://i.imgur.com/8PbPOU9.png");
}
*/