body {
    background-color: pink;
}

h1, h2, h3, p {
    font-family: Arial;
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 34px;
}

h2 {
    font-size: 23px;
}

img {
    margin: auto;
    display: block;
    width: 90%;
    border: 2px solid black;
}

.COOKBOOK {
    margin: auto;
    border: 1px solid;
    width: 98%;
    background-color: lightcoral;
    flex-direction: column;
}

.retseptiveeb {
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

.esimene, .kolmas, .neljas {
    display: flex;
    justify-content: space-around;
}

.esimene, .kolmas {
    flex-direction: row;
}

.neljas {
    align-items: flex-end;
}

.teine {
    margin: auto;
    width: 85%;
}

.kolmas > p {
    text-align: justify;
}

.kolmas > img {
    display: flex;
    margin: 15px;
    margin-right: 0px;
    width: 50%;
    align-self: center;
}

.neljas > img {
    border-radius: 150px;
}

.Our_addresses {
    margin: auto;
    border: 1px solid;
    width: 98%;
    flex-direction: row;
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
    margin-bottom: 16px;
}

.viies {
    margin-left: 35px;
    width: 80%;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.kuues {
    margin: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.kuues > img {
    margin: 5px;
    width: 50px;
    border: none;
}

hr {
    width: 40%;
    display: none;
    border: 1.5px solid #000;
}

.COOKBOOK > h2 {
    display: none;
}

@media (min-width: 1201px) {
    .neljas > img {
        width: 250px;
    }

    .kolmas > p {
        font-size: 18px;
    }

    .kolmas > img {
        width: 500px;
    }
}


@media (min-width: 551px) and (max-width: 1200px) {
    .neljas > img {
        width: 20%;
    }
}


@media screen and (max-width: 850px) {
    .kolmas > img {
        display: none;
    }
}


@media screen and (max-width: 550px) {
    body {
        background-color: white;
    }

    .COOKBOOK {
        background-color: azure;
    }

    hr {
        display: block;
    }

    .neljas {
        flex-direction: column;
    }

    .neljas > img {
        border-radius: 180px;
        margin-bottom: 20px;
        width: 70%;
    }

    .COOKBOOK > h2 {
        display: block;
        margin-left: 34px;
    }

    .COOKBOOK > img {
        width: 100%;
    }

    .viies {
        font-size: 14px;
    }
}